@model ShopOnline.Models.Account

@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Tài khoản</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountName)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            Loại tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            Ghi chú
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.AccountID }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
