@model IEnumerable<ShopOnline.Models.Account>

@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Tài khoản</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create") |
    @Html.ActionLink("Tìm kiếm", "Search")
</p>
<table class="table">
    <tr>
        <th>
            Tên tài khoản
        </th>
        <th>
            mật khẩu
        </th>
        <th>
            Loại tài khoản
        </th>
        <th>
            Ghi chú
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.AccountID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.AccountID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.AccountID })
        </td>
    </tr>
}

</table>
