@model ShopOnline.Repositories.WebHomeRepository
@{
    ViewBag.Title = "Home TTPHONE";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>@ViewBag.tb</h1>

<div class="container-fluid banner">
    <div class="container banner1">
        <div class="row banner1">
            @*<a href=@Url.Action("someaction", "somecontroller" , new { id="123" })>*@
            <a href=@Url.Action("Index", "WebHome")>
                <img src="~/asset/images/baner1.png" alt="" style="width:100%">
            </a>
        </div>
    </div>
</div>

<div class="container-fluid sanpham">
    <div class="container sanpham1">
        <div class="row sanpham1">

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <img src="~/asset/images/ic1.png" class="oto" alt="">
                <h2>Miễn phí giao hàng </h2>
                <p>Tất cả các sản phẩm đều được vận chuyển miễn phí</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <img src="~/asset/images/ic2.png" alt="">
                <h2>Đổi trả hàng </h2>
                <p>sản phẩm được phép đổi trả trong vòng 2 ngày</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <img src="~/asset/images/ic3.png" alt="">
                <h2>Giao hàng nhận tiền </h2>
                <p>Thanh toán bằng hình thức trực tiếp </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <img src="~/asset/images/ic4.png" alt="">
                <h2>Đặt hàng online</h2>
                <p>0987654321</p>
            </div>
        </div>

        <div class="row tensp">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <hr class="hrtensp">
                <hr class="hrtensp">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2>Sản Phẩm Mới</h2>
                <h4>sản phẩm luôn được cập nhật thường xuyên</h4>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <hr class="hrtensp">
                <hr class="hrtensp">
            </div>
        </div>

        <div class="row sanphamtt">
            @foreach (var item in Model.spmoi)
            {
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="thumbnail" id="anhsp">
                        <img src='@item.ImageURL' alt='@item.ProductName'>
                        <div class="caption">
                            <h4>@item.ProductName</h4>
                            <span class="price">
                                <span class="sale-price">
                                    @{ var giagiam = @item.UnitPrice * @item.Sale.Discount / 100;}
                                    @giagiam đ
                                </span>
                                <span class="regular-price">
                                    @item.UnitPrice đ
                                </span>
                            </span>
                            <p>
                                <div class="btn btn-primary">
                                    @Html.ActionLink("Chi Tiết", "ChiTietsp", "WebChiTietSp", new { id = item.ProductID }, null)
                                </div>
                                <div class="btn btn-primary">
                                    @Html.ActionLink("Mua Hàng", "ThemSanPham", "WebGioHang", new { id = item.ProductID }, null)
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row tensp">

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <hr class="hrtensp">
                <hr class="hrtensp">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2>Sản Phẩm Bán Chạy</h2>
                <h4>sản phẩm luôn được cập nhật thường xuyên</h4>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <hr class="hrtensp">
                <hr class="hrtensp">
            </div>
        </div>

        <div class="row sanphamtt">
            @foreach (var item in Model.spbanchay)
            {
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="thumbnail"  id="anhsp">
                        <img src='@item.ImageURL' alt='@item.ProductName'>
                        <div class="caption">
                            <h4>@item.ProductName</h4>
                            <span class="price">
                                <span class="sale-price">
                                    @{ var giagiam = @item.UnitPrice * @item.Sale.Discount / 100;}
                                    @giagiam đ
                                </span>
                                <span class="regular-price">
                                    @item.UnitPrice đ
                                </span>
                            </span>
                            <p>
                                <div class="btn btn-primary">
                                    @Html.ActionLink("Chi Tiết", "ChiTietsp", "WebChiTietSp", new { id = item.ProductID }, null)
                                </div>
                                <div class="btn btn-primary">
                                    @Html.ActionLink("Mua Hàng", "ThemSanPham", "WebGioHang", new { id = item.ProductID }, null)
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>