@model List<ShopOnline.Models.Order>
@{
    ViewBag.Title = "Quản lý đơn hàng";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3 w-25" style="padding:0;">
                <div class="border">
                    <p class="mid2">@Html.ActionLink("Cập nhật thông tin khách hàng", "CapNhatThongTinKhachHang")</p>
                </div>
                <div class="border">
                    <p class="mid2">@Html.ActionLink("Cập nhật mật khẩu", "DoiMatKhau")</p>
                </div>
                <div class="border">
                    <p class="mid2">@Html.ActionLink("Quản lý đơn hàng", "QuanLyDonHang")</p>
                </div>
            </div>
            <div class="col-md-9 w-75" style="padding:0;">
                <div class="border">
                    <h2 class="mid2">Quản lý đơn hàng</h2>
                </div>
                <div class="border">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Mã đơn hàng</th>
                                <th scope="col">Ngày đặt hàng</th>
                                <th scope="col">Tổng tiền</th>
                                <th scope="col">Thanh Toán</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Xử lý</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.OrderID</th>
                                    <td>@item.DateOrder</td>
                                    <td><del>@item.OrderDetails.Sum(od => od.Product.UnitPrice * od.Quantity)</del></td>
                                    <td>@item.OrderDetails.Sum(od => od.Product.UnitPrice * od.Quantity * od.Product.Sale.Discount/100)</td>
                                    @if (@item.Status == 1)
                                    {
                                        <td>Chờ xử lý</td>
                                    }
                                    else if (@item.Status == 2)
                                    {
                                        <td>Thành công</td>
                                    }
                                    else
                                    {
                                        <td>thất bại</td>
                                    }
                                <td>
                                    @if (@item.Status == 1)
                                    {
                                        @Html.ActionLink("Hủy", "HuyDonHang", "WebTaiKhoan", new { id = item.OrderID }, null)
                                    }
                                    |
                                    @Html.ActionLink("Chi tiết", "ChiTietDonHang", "WebTaiKhoan", new { id = item.OrderID }, null)
                                </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

